.primary-button {
  height: 100%;

  &__button {
    width: 50%;
    max-width: 250px;
    min-width: 200px;
    background-color: var(--color-black);
    color: var(--color-white);
    border-radius: 100px;
    border: 2px solid black;
    outline: none;
    transition: 0.3s;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: transparent;
      color: var(--color-black);
    }
  }
}
